.content{
    width: 1000px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: row;
    
}
.menu{
    text-align: center;
    height: 100%;
    display: flex;
    align-items: center;
    margin: 0;
    margin-right: 37px;
}
.menu-list{
    font-family: Raleway, sans-serif;
    font-weight: 400;
    font-size: 18px;
    height: 293px;
    display: inline-flex;
    align-items: center;
    gap: 26px;
}
.active-list{
    list-style: none;
}
.innactive-list{
    list-style: circle;
    text-decoration: underline;
}
.logo{
    margin: 0;
    margin-right: 184px;
}
.logo-image{
    width: 148px;
    height: 105px;
}
.cover{
    background-color: #eef;
    background-image: url('/images/cover.jpg');
    background-size: cover;
    background-position: center;
    margin-bottom: 180px;
}
.overlay{
    background-color: rgb(0, 0, 0, 0.6);
    margin: auto;
}
.title{
    padding: 165px 50px;
    color: white;
    letter-spacing: 0.3em;
    text-transform: uppercase;
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 100px;
}
.center-span{
    text-align: center;
}
.right-span{
    text-align: right;
}
.description{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 50px;
    margin-left: 50px;
}
.des-text{
    color: #fff;
    font-family: Raleway, sans-serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    text-transform: uppercase;
    word-spacing: 1.1em;
}
.button{
    border-color: white;
    border-width: 1px;
    background-color: rgb(1, 1, 1, 0%);
    width: 256px;
    height: 51px;
    margin-right: 50px;
}
.button-text{
    font-family: Raleway, sans-serif;
    font-weight: 400;
    font-size: 22px;
    text-transform: uppercase;
    color: #fff;
}
.lots{
    height: 723px;
    left: 24px;
    color: #eef;
}
.lot-title{
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 40px;
    text-transform: uppercase;
    margin-left: 40px;
    color: black;
    padding-bottom: 27px;
}

.lot-cards{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
    margin-right: 24px;
    margin-left: 24px;
}
.first-lot{
    background-image: url(/images/card-lot-01.jpg);
    background-position: center;
    background-size: cover;
    min-height: 596px;
    max-width: 334px;
    display: flex;
    flex-direction: column;
}
.card-title{
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 22px;
    text-transform: uppercase;
    text-decoration: underline;
}
.card-text{
    font-family: Raleway, sans-serif;
    font-weight: 400;
    font-size: 20px;
    margin-top: auto;
}
.second-lot{
    background-image: url(/images/card-lot-02.jpg);
    background-position: center;
    background-size: cover;
    min-height: 596px;
    max-width: 334px;
    display: flex;
    flex-direction: column;
}
.third-lot{
    background-image: url(/images/card-lot-03.jpg);
    background-position: center;
    background-size: cover;
    min-height: 596px;
    max-width: 334px;
    display: flex;
    flex-direction: column;
}
.lot-content{
    padding: 48px 40px;
    display: flex;
    flex-direction: column;
    min-height: 596px;
    margin: auto 0;
}
.text-after{
    color: black;
    padding-top: 30px;
    padding-left: 64px;
    font-family: Raleway, sans-serif;
    font-weight: 400;
    font-size: 20px;
    text-decoration: underline;
}
.about{
    margin:120px 0 180px 0;
    display: flex;
    align-items: flex-start;
    padding: 0 40px;
    gap: 80px;
}
.elipse{
    margin-left: 47px;
    background: black;
    border-radius: 50%;
    height: 240px;
    width: 240px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    position: relative;
    top: -1px;
    
}
.logo_image-black{
    width: 148px;
    height: 114px;
}
.about-column{
    margin-top: 100px;
    margin-bottom: 13px;
    display: flex;
    flex-direction: column;
    justify-content: left;
}
.about-title{
    font-family: Raleway;
    font-weight: 700;
    font-style: Bold;
    font-size: 40px;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: uppercase;
    margin-bottom: 76px;
}
.about-text{
    font-family: Raleway;
    font-weight: 400;
    font-style: Regular;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0%;
    margin-top: 24px;
}
.footer{
    padding: 0 50px 82px;
    margin-top: 180px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.contacts{
    font-family: Raleway;
    font-weight: 400;
    font-size: 18px;
}
.adresses{
    text-decoration: underline;
}
.menu-list_footer{
    text-align: center;
}
.innactive-list_footer{
    list-style: none;
    text-decoration: underline;
}
.socials{
    gap: 48px;
}
.logo-socials{
    width: 48px;
    height: 48px;
}